$xs: 0;
$smmobile: 576px;
$sm: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1280px;

$primary: #e94b5e;
$secondary: #654EA3;
$danger: #dc3545;


//TODO grises
$grey: #f8f9fa75;


$backgroundSegundaryDark:#1f1d33;
$backgroundSegundaryContrastText:#fff;




$footer-title-size: 16px;
$border-searchBox: 10px;