$xs: 0;
$smmobile: 576px;
$sm: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1280px;

$primary: #e94b5e;
$secondary: #654EA3;



$backgroundSegundaryDark:#1f1d33;
$backgroundSegundaryContrastText:#fff;




$footer-title-size: 16px;