.section-secondary {
    background-color: $grey;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-secondary-grey {
    background-color: $grey2;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-white {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}